<!DOCTYPE html>
<html ng-app="myModule">

  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/todostyle.css" />



  </head>

  <body onload="startTime()">
    <div ng-controller="inputCtrl">

<nav class="navBar">
  <div class="startBlock"></div>
  <div id="clock"></div>


</nav>

<div class="iconColumn">
<div><a class"iconLink" ng-click="programName = 'ng-photoViewer 3.1'" href="#/dog2"><img src="img/computer.ico"><p>My Computer</p></a></div>
<div><a class"iconLink" ng-click="programName = 'ng-photoViewer 3.1'" href="#/cat"><img src="img/cd_audio_cd_a.ico"><p>AUDIO CD</p></a></div>
<div><a class"iconLink" ng-click="programName = 'ng-photoViewer 3.1'" href="#/dog"><img src="img/directory_closed.ico"><p>cool dog pics</p></a></div>
<div><a class"iconLink" ng-click="programName = 'ng-photoViewer 3.1'" href="#/hobbes"><img src="img/directory_closed.ico"><p>Hobbes Pics</p></a></div>
<div><a class"iconLink" ng-click="programName = 'angularMadlibs'" href="#/todoList"><img src="img/notepad.ico"><p>todoList</p></a></div>

<div><a class"iconLink" ng-click="programName = 'angularMadlibs'" href="#/madlibs"><img src="img/computer_explorer.ico"><p>ng-madlibs</p></a></div>


</div>

<ng-view></ng-view>



<!-- <div class="window">
  <div class="windowBar"><div class="barText">{{programName}}</div><div class="xButton">X</div></div>
<ng-view></ng-view>
<p></p>
<div class="textContainer">
<div class="fakeText"></div>
<p></p>
<div class="fakeText2"></div>
<p></p>
</div>
</div> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>

<script src="js/script.js"></script>
<script src="js/todoscript.js"></script>
<script src="js/madlibsInput.js"></script>
<script src="js/outputCtrl.js"></script>
<script src="js/controller.js"></script>
<script src="js/factory.js"></script>

  </body>

</html>
