<div class="window">
  <div class="windowBar"><div class="barText">{{programName}}</div><a ng-click="closeWindow()" class="xButton">X</a></div>
  <div class="madlibsInputs">
      <div fizz-buzz-title></div>
      <p>
          <label><input class="fizzBuzzBox" type="number" ng-model="fizzBuzzNumber" placeholder="Enter Number" /> </label>
      </p>

 <h1>{{fizzBuzzNumber}}</h1>
  <h1>{{fizzBuzzResult(fizzBuzzNumber)}}</h1>


  </div>


<p></p>
<div>
  <div fizz-buzz-image> </div>

</div>
</div>
