

<div class="window">
  <div class="windowBar"><div class="barText">{{programName}}</div><div class="xButton">X</div></div>
  <div class="madlibsInputs">
  <b class="boldLib">{{userInput.number1}}</b> years after the end of Rush Hour 2, James Carter is no longer a <b>{{userInput.occupation1}}</b>, but a <b>{{userInput.occupation2}}</b> on the streets of <b>{{userInput.place1}}</b>. Lee is now the bodyguard for his friend <b>{{userInput.person1}}</b>. Lee is still upset with Carter about an incident in <b>{{userInput.place2}}</b> when Carter accidentally shot Lee`s girlfriend, <b>{{userInput.occupation3}}</b> Isabella Molina, in the <b>{{userInput.bodyPart1}}</b>.
  <p>
  <a href="#/madlibs">Reset</a>
  </p>
  </div>
<p></p>
<div class="textContainer">
<div class="fakeText"></div>
<p></p>
<div class="fakeText2"></div>
<p></p>
</div>
</div>
